<footer class="footer">
    <div class="footer__container container">
        <div class="footer__row row d-flex">
            <div class="footer__col col col-6">
                <div class="footer__row footer__grid row d-flex">
                    <div class="footer__col col">
                        <nav class="footer__nav">
                            <ul class="footer__menu menu">
                                <li class="menu__item">
                                    <a href="#" class="menu__link">Дипломные</a>
                                </li>
                                <li class="menu__item">
                                    <a href="#" class="menu__link">Курсовые</a>
                                </li>
                                <li class="menu__item">
                                    <a href="#" class="menu__link">Ответы</a>
                                </li>
                                <li class="menu__item">
                                    <a href="#" class="menu__link">Рефераты</a>
                                </li>
                                <li class="menu__item">
                                    <a href="#" class="menu__link">Эссе</a>
                                </li>
                            </ul>
                        </nav>
                        <a href="tel:" class="footer__number number">8(800)511-34-29</a>
                    </div>
                    <div class="footer__col col">
                        <div class="footer__group footer__address">
                            <h3 class="footer__title">Наш адрес:</h3>
                            <p class="footer__text">Офис в Санкт-Петербурге</p>
                            <p class="footer__text">ул. Введенский канал, д. 7, оф. 424</p>
                            <p class="footer__text">БЦ "Фарватер"</p>
                            <p class="footer__text">(ст. м. Пушкинская)</p>
                        </div>
                        <div class="footer__group footer__time">
                            <h3 class="footer__title">График работы:</h3>
                            <p class="footer__text">Пн-Пт: 09:00-20:00</p>
                            <p class="footer__text">Cб: 12:00-16:00</p>
                            <p class="footer__text">Вс: Выходной</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__col col col-6">
                <div class="footer__row footer__grid row d-flex">
                    <div class="footer__col footer__links col">
                        <div class="footer__group">
                            <a href="#" class="footer__link">Политика<br> конфиденциальности</a>
                        </div>
                        <div class="footer__group">
                            <a href="#" class="footer__link">Договоро оферты</a>
                        </div>
                        <div class="footer__group">
                            <a href="#" class="footer__link">Безопастность платежей</a>
                        </div>
                    </div>
                    <div class="footer__col col">
                        <p class="footer__text footer__text_margin">ОГРНИП 317784700138471 ИП Еремин Михаил Александрович</p>
                        <p class="footer__text footer__text_margin">ИНН 782065545302</p>
                        <p class="footer__text footer__text_margin">© Студсервис. Все права защищены.</p>
                    </div>
                </div>
                <form action="#" class="footer__form form">
                    <div class="form__grid d-flex">
                        <div class="form__group col">
                            <p class="form__text"><span>Скидка 50%</span> за подписку</p>
                        </div>
                        <div class="form__group form__group_small">
                            <input type="text" placeholder="Электронная почта" class="form__element form__input">
                        </div>
                        <div class="form__group">
                            <button type="button" class="form__button button button_color-pink">Получить скидку</button>
                        </div>
                    </div>
                </form>
            </div>
            <ul class="footer__social social d-flex">
                <li class="social__item">
                    <a href="#" class="social__link">
                        <img src="../img/vk.png" alt="" class="social__image">
                    </a>
                </li>
                <li class="social__item">
                    <a href="#" class="social__link">
                        <img src="../img/insta.png" alt="" class="social__image">
                    </a>
                </li>
                <li class="social__item">
                    <a href="#" class="social__link">
                        <img src="../img/facebook.png" alt="" class="social__image">
                    </a>
                </li>
                <li class="social__item">
                    <a href="#" class="social__link">
                        <img src="../img/ok.png" alt="" class="social__image">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>
</div>

<!--popup-->
<div class="popup_shade"></div>
<div class="popup popup-order popup_max" id="popup-download">
    <button type="button" class="popup__close-btn"></button>
    <div class="popup__header">
        <h3 class="popup__title title title_h3">Скачать работу: <span>“Инверсия в современном англ.языке”</span></h3>
        <div class="popup__text">Мы вышлем работу вам на e-mail</div>
    </div>
    <div class="popup__content">
        <form class="form ajax" method="POST" action="" name="download">
            <div class="popup__grid form__grid row row_large d-flex">
                <div class="form__group form__group_middle col">
                    <input type="text" class="form__element popup__input form__input" name="email" placeholder="Электронаая почта"  tabindex="-1">
                </div>
                <div class="form__group form__group_large col">
                    <button type="submit" class="form__button button button_color-pink"  tabindex="-1">
                        <span class="button_text">Cкачать</span>
                    </button>
                </div>
            </div>
            <div class="popup__term term">
                <input class="styled-checkbox" id="styled-checkbox-4" type="checkbox" value="value1" checked="checked">
                <label for="styled-checkbox-4">Нажимая кнопку "Cкачать", вы соглашаетесь <a href="#" target="_blank">с политикой конфиденциальности</a>
                </label>
            </div>
        </form>
    </div>
</div>

<div class="popup popup-gift" id="popup-gift">
    <button type="button" class="popup__close-btn"></button>
    <div class="popup__header">
        <h4 class="popup__title title title_center title_h4">Сегодня мы дарим <br><span class="title__text">300 рублей</span> на первый заказ</h4>
        <img src="../img/popup__image.png" alt="" class="popup__image">
    </div>
    <div class="popup__content">
        <form class="form ajax" method="POST" action="" name="download">
            <div class="popup__grid form__grid row row_large wrap d-flex">

                <div class="form__group form__group_select select-box form__group_large col">
                    <select class="form__element form__select">
                        <option value="Выберите тип работы" selected>Выберите тип работы</option>
                        <option value="Дипломная работа">Дипломная работа</option>
                        <option value="Эссэ">Эссэ</option>
                        <option value="Дипломная работа">Дипломная работа</option>
                    </select>
                </div>
<!--                <div class="form__group form__group_select form__group_large col">-->
<!--                    <select class="select-js">-->
<!--                        <option value="Выберите тип работы" selected>Выберите тип работы</option>-->
<!--                        <option value="Дипломная работа">Дипломная работа</option>-->
<!--                        <option value="Эссэ">Эссэ</option>-->
<!--                        <option value="Дипломная работа">Дипломная работа</option>-->
<!--                    </select>-->
<!--                </div>-->
                <div class="form__group form__group_large col">
                    <input type="text" class="form__element popup__input form__input" name="theme" placeholder="Тема"  tabindex="-1">
                </div>
                <div class="form__group form__group_large col">
                    <input type="text" class="form__element popup__input form__input" name="email" placeholder="Электронаая почта"  tabindex="-1">
                </div>
                <div class="form__group form__group_large col">
                    <button type="submit" class="form__button button button_color-pink"  tabindex="-1">
                        <span class="button_text">Узнать стоимость</span>
                    </button>
                </div>
            </div>
            <div class="popup__term term">
                <input class="styled-checkbox" id="styled-checkbox-3" type="checkbox" value="value1" checked="checked">
                <label for="styled-checkbox-3">Нажимая кнопку "Cкачать", вы соглашаетесь <a href="#" target="_blank">с политикой конфиденциальности</a>
                </label>
            </div>
        </form>
    </div>
</div>


<div class="popup popup_max" id="popup-client">
    <button type="button" class="popup__close-btn"></button>
    <div class="popup__content">
        <form class="form ajax" method="POST" action="" name="client">
            <h3 class="popup__title form__title">Обратная связь</h3>
            <div class="popup__grid form__grid row row_large d-flex wrap">
                <div class="form__group form__group_middle col">
                    <input type="text" class="form__element form__input" name="name" placeholder="Представьтесь (необязательно)"  tabindex="-1">
                </div>
                <div class="form__group form__group_middle col">
                    <input type="tel" class="form__element form__input required" name="phone" placeholder="Контактный телефон"  tabindex="-1">
                </div>
                <div class="form__group form__group_large col">
                    <textarea type="text" class="form__element form__textarea form__textarea_large" name="сomment" placeholder="Комментарий"  tabindex="-1"></textarea>
                </div>
                <div class="form__group form__group_middle col">
                    <input type="file" name="file[]" id="file-1" class="form__element form__file ideas__form-file-input" data-multiple-caption="Выбрано файлов - {count}" multiple=""  tabindex="-1">
                    <label class="ideas__form-file-label d-flex" for="file-1">
                        <span class="file__text file__text_bold">Есть файл? Приложите!</span>
                    </label>
                </div>
                <div class="form__group form__group_middle col">
                    <p class="form__term term">Нажимая кнопку «Отправить», вы соглашаетесь с <a href="#" target="_blank" class="term__link">Политикой конфиденциальности</a></p>
                </div>
                <div class="form__group form__group_large col">
                    <button type="submit" class="popup__send-btn popup__send-btn_large form__btn btn btn-bg btn-bg-blue"  tabindex="-1">
                        <span class="button_text">Отправить</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="popup popup_max" id="popup-author">
    <button type="button" class="popup__close-btn"></button>
    <div class="popup__content">
        <form class="form ajax" method="POST" action="" name="author">
            <h3 class="popup__title form__title">Обратная связь</h3>
            <div class="popup__grid form__grid row row_large d-flex wrap">
                <div class="form__group form__group_middle col">
                    <input type="text" class="form__element form__input" name="name" placeholder="Представьтесь (необязательно)"  tabindex="-1">
                </div>
                <div class="form__group form__group_middle col">
                    <input type="tel" class="form__element form__input required" name="phone" placeholder="Контактный телефон"  tabindex="-1">
                </div>
                <div class="form__group form__group_large col">
                    <textarea type="text" class="form__element form__textarea form__textarea_large" name="сomment" placeholder="Комментарий"  tabindex="-1"></textarea>
                </div>
                <div class="form__group form__group_middle col">
                    <input type="file" name="file[]" id="file-1" class="form__element form__file ideas__form-file-input" data-multiple-caption="Выбрано файлов - {count}" multiple=""  tabindex="-1">
                    <label class="ideas__form-file-label d-flex" for="file-1">
                        <span class="file__text file__text_bold">Есть файл? Приложите!</span>
                    </label>
                </div>
                <div class="form__group form__group_middle col">
                    <p class="form__term term">Нажимая кнопку «Отправить», вы соглашаетесь с <a href="#" target="_blank" class="term__link">Политикой конфиденциальности</a></p>
                </div>
                <div class="form__group form__group_large col">
                    <button type="submit" class="popup__send-btn popup__send-btn_large form__btn btn btn-bg btn-bg-blue"  tabindex="-1">
                        <span class="button_text">Отправить</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="js/main.js"></script>
</body>

</html>
