<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="fonts/SegoeUI.css">
    <link rel="stylesheet" href="css/main.css">
    <title>studservis</title>
    <!-- Tweaks for older IEs-->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
</head>

<body>
<div class="wrapper">

    <div class="header header-static">
        <div class="container header__container">
            <div class="header__grid row d-flex">
                <div class="col">
                    <a href="#" class="header__link">
                        <img src="img/logo.png" alt="" class="header__image">
                    </a>
                </div>
                <div class="header__column col">
                    <div class="header__top d-flex">
                        <ul class="header__social social row d-flex">
                            <li class="social__item col">
                                <a href="#" class="social__link">insta</a>
                            </li>
                            <li class="social__item col">
                                <a href="#" class="social__link">vk</a>
                            </li>
                        </ul>
                        <div class="header__buttons d-flex">
                            <a href="#popup-client" class="header__button btn btn_color-skyblue show-popup">
                                Я клиент
                            </a>
                            <a href="#popup-author" class="header__button btn btn_color-skyblue show-popup">
                                Я Автор
                            </a>
                        </div>
                        <a href="tel:88009999999" class="header__number">8(800)999-99-99</a>
                        <form action="" class="form__search header__search search d-flex">
                            <input type="text" class="search__input" placeholder="Начните поиск...">
                            <button class="search__button" type="submit">
                            </button>
                        </form>
                    </div>
                    <div class="header__bottom d-flex">
                        <nav class="header__nav">
                            <ul class="header__menu menu list d-flex">
                                <li class="menu__item">
                                    <a href="" class="menu__link">Главная</a>
                                </li>
                                <li class="menu__item">
                                    <a href="" class="menu__link">Оставить отзыв</a>
                                </li>
                                <li class="menu__item">
                                    <a href="" class="menu__link">Наш рейтинг</a>
                                </li>
                                <li class="menu__item">
                                    <a href="" class="menu__link">О нас</a>
                                </li>
                                <li class="menu__item">
                                    <a href="" class="menu__link">Контакты</a>
                                </li>
                                <li class="menu__item">
                                    <a href="" class="menu__link">Блог</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
