@media screen and (max-width: 1599px) {
    .container{
        width: 100%;
        max-width: 100%;
    }

    .header{
        &__container{
            width: 1300px;
            max-width: 100%;
            margin: 0 auto;
        }
    }

    .about{
        &__info{
            padding-left: 70px;
        }
    }

}

@media screen and (max-width: 1279px) {
    header{
        &__container{
            width: 767px;
            margin: 0 auto;
        }
    }

    .container{
        max-width: 100%;
    }

}