$font-geometria: "Geometria", Verdana, Arial, sans-serif;

$color-primary: #2979ff;

$color-dark: #000;

$color-warning: #d50000;

$color-sucess: #11c339;

$color-main: #021a76;

$color-green: #b4e13d;

$color-blue: #0e1afa;

$color-red: #fd2b1c;

$color-darkblue: #02225c;

$color-skyblue: #5fc3f1;

$color-gray: #bbbbbb;

$box-shadow-default: 2px 2px 4px rgba(0, 0, 0, 0.1);

$spacing: 15px;

$spacing-double: ($spacing * 2);

$letter: 0.020em;

